* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(91, 25, 107, 0.78);
    padding: 50px;
}

.quiz-container {
    background-color: white;
    width: 90%;
    max-width: 400px;
    margin: 0 auto ;
    padding: 30px;
}

.quiz-container h1 {
    font-size: 25px;
    font-weight: 500px;
    padding-bottom: 20px;
}

#answer-list li {
    padding: 10px;
    list-style: none;
}
#answer-list li:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

#next{
  font-size: 18px; 
  width: 60px;
  margin: 20px auto 0;
  display: none;
}
#submit{
    font-size: 18px; 
    width: 60px;
    margin: 20px auto 0;
    display: none;
  }
 .correct {
    background-color: rgb(144, 238, 144);
  }
